[submodule "nerdtree"]
    path = .vim/plugins/nerdtree
    url = https://github.com/scrooloose/nerdtree.git

[submodule "vim-rails"]
    path = .vim/plugins/vim-rails
    url = git://github.com/tpope/vim-rails.git

[submodule "scss-syntax.vim"]
    path = .vim/plugins/scss-syntax.vim
    url = https://github.com/cakebaker/scss-syntax.vim.git

[submodule "tabular"]
    path = .vim/plugins/tabular
    url = https://github.com/godlygeek/tabular.git

[submodule "vim-nerdtree-tabs"]
    path = .vim/plugins/vim-nerdtree-tabs
    url = https://github.com/jistr/vim-nerdtree-tabs.git


