[submodule "vim/vim_dir/bundle/Vundle.vim"]
	path = vim/vim_dir/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
