.dotfiles

.DS_Store
*.tmp
*.zwc

.vim/autoload/plug.vim*
.vim/backups/*~
.vim/plugged/*
.vim/doc
.vim/ruby
.vim/sessions
.vim/spell
.vim/tmp
.vim/view
.vim/.netrwhist
.vim/.VimballRecord
.vim/.viminfo
