.DS_Store
*.tmp
*.zwc

vim/vim_dir/autoload/plug.vim*
vim/vim_dir/backups/*~
vim/vim_dir/plugged/*
vim/vim_dir/doc
vim/vim_dir/ruby
vim/vim_dir/sessions
vim/vim_dir/spell
vim/vim_dir/tmp
vim/vim_dir/view
vim/vim_dir/.netrwhist
vim/vim_dir/.VimballRecord
vim/vim_dir/.viminfo
