.DS_Store
.Trash
*.tmp
*.zwc
.*history
.*.local

.android
.atom
.aws
.boot2docker
.bundle
.berkshelf
.dotfiles
.dropbox
.cache
.cargo
.config
.docker
.eclipse
.git-credentials
.gitconfig_private
.glide
.gradle
.gem
.gnupg
.gsutil
.heroku
.history
.irb_*
.kube
.local
.m2
.minikube
.mono
.node-gyp
.npm
.nuget
.nvm
.pyenv
.rustup
.ssh
.templateengine
.tor
.vagrant.d
.vscode
.wine
.yarn-cache
.zcomp*
.zsh-update

.vim/autoload/plug.vim*
.vim/backups/*~
.vim/plugged/*
.vim/doc
.vim/ruby
.vim/sessions
.vim/spell
.vim/tmp
.vim/view
.vim/.netrwhist
.vim/.VimballRecord
.vim/.viminfo

Applications
bin/*check
bin/go*
Desktop
Documents
Downloads
Dropbox
eclipse-workspace
google-cloud-sdk
Library
Movies
Music
Pictures
pkg
Public
Sites
src
tmp
